CONFIG_TARGET_qualcommax=y
CONFIG_TARGET_qualcommax_ipq807x=y

# 关闭多机型构建，确保只生成 AX6 的固件
# CONFIG_TARGET_MULTI_PROFILE is not set

# --- 仅保留红米 AX6 设备配置 ---

CONFIG_TARGET_MULTI_PROFILE=n

CONFIG_TARGET_DEVICE_qualcommax_ipq807x_DEVICE_redmi_ax6=y	
CONFIG_TARGET_DEVICE_qualcommax_ipq807x_DEVICE_redmi_ax6-stock=n	


CONFIG_ATH11K_MEM_PROFILE_512M=y
CONFIG_NSS_FIRMWARE_VERSION_11_4=y

